<div class="card" styles="height:50vh;margin:5rem;">

    <form #employeeForm="ngForm" (ngSubmit)=" onSubmit()">
        <div class="row">
            <div class="col-md-3">
                <label>First Name</label>
                <input type="text" class="form-control" >

            </div>
            <div class="col-md-3">
                <label>Middle Name</label>
                <input type="text" class="form-control" >

            </div>
            <div class="col-md-3">
                <label>Last Name</label>
                <input type="text" class="form-control" >

            </div>
            <div class="col-md-3">
                <label>Age</label>
                <input type="text" class="form-control" >

            </div>
        </div>
        <div type="submit"  class="btn btn-primary">
            Submit
        </div>
    </form>
</div>