<h1 style="text-align: start;">Start notes</h1>

<ul>
    <li>
        Observabels are sequence of data generated overa a period of time (sayncronously)
    
    </li>

<li>
    Observers are used to listen and track the data changes
</li>
<li>
    Tree main observer methods are
</li>
<ul>
    <li>
        Next
    </li>
    <li>
        error
    </li>
    <li>
        Completed
    </li>
    </ul>
    <li>
        subscibers are used to fetch data from the observable
    </li>
    <li>
        Without subscribe observables are useless
    </li>
    <li>
        multiple subsciptions are allowed in observables
    </li>
     
</ul>

<h3 style="text-align: center;">
The user is active {{activeStatus}}
</h3>

<h3 style="text-align: center; color: red;">
{{error}}    </h3>
<h3 style="text-align: center;">
 {{activeStatus1}}
    </h3>
    